.form-area{
    padding: 50px 0px;
    color: white;
    background-color: blueviolet ;
}

.btn {
    margin-left: 0px;
   
}

.signup-inner{
    background-color: #00000057 ;
    padding: 30px 20px;
    border-radius: 10px;
}