.footer-area{
    background-color:#212529 ;
    margin-bottom:0px;
    padding-bottom:1px;
}

.footer1 h5{
    padding-top: 20px;
}
.footer-bottom p{
    font-size: 13px;
}

.footer-area span{
    padding: 0px 5px;
    font-size: 18px;
}


  

