.contact-area{

    background-color:#9D91F5;
    padding-top: 20px;
    padding-bottom: 70px;
    color: white;
}

.contact-inner{
    background-color: #00000057 ;
    padding: 30px 20px;
    border-radius: 10px;



}