.sec-bg{
    background-color: #A2D0F4;
    padding: 150px 0;
   
  
   
}

.inner-bg{
    background-image: url(../../images/bgsec9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 75px;
    border-radius: 5px;
    background-attachment: fixed;
    
    
}
.heading-bg p{
    font-size: 24px;
    color:white;
    font-family: Livvic;

}
.heading-bg h1{
   padding-bottom: 40px;
   color:white;
   font-size: 40px;
   font-weight: 700;
   font-family: Livvic;
}